h1 {
    font-weight: bolder;
    font-family: Inter, Geneva, Tahoma, sans-serif;
    padding: 1em 0 1em 0;
    font-size: 22pt;
}

h2 {
    font-weight: 600;
    font-family: Inter, Geneva, Tahoma, sans-serif;
    padding: 1em 0 1em 0;
    font-size: 15pt;
    margin-top: 2em;
}

p, span, button {
    font-family: Inter, Geneva, Tahoma, sans-serif;
}

input {
    font-family: Inter, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 10pt;
}

.wrapper {
    padding: 0 1em 0 1em;
}

/* Tablets */
@media only screen and (min-width: 481px) {

    .wrapper {
        width: 30em;
        margin: auto;
    }

}

/* laptops */
@media only screen and (min-width: 769px) {
    .wrapper {
        width: 30em;
        margin: auto;
    }
}

/* Desktop */
@media only screen and (min-width: 1025px) {

}

/* XL Scherm */
@media only screen and (min-width: 1201px) {
  
}

.rondje {
    width: 20px;
    height: 20px;
    border: 1.5px solid black;
    border-radius: 100%;
    display: inline-block;
    background-color: transparent;
    padding: 0;
}

.bevestiging {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin: auto;
    background-color: rgb(56, 163, 56);
    display: none;
}

.ToDoLijst {
    padding: 0 0 1em 0;
}

.ToDoLijst > * {
    padding-bottom: 1em;
}

.textToDo {
    display: inline-block;
    padding-left: 8px;
}

.label {
    width: 200px;
    height: 20px;
    background-color: burlywood;
    margin: 0;
    padding: 0;
    position: relative;
}

.SuggestieKnop {
    width: 15px;
    height: 15px;
    display: inline-block;
}

.SuggestieItem {
    margin-top: 1em;
}

.SuggestieItem p {
    display: inline-block;
}

.invoerveld {
    display: flex;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    justify-content: space-between;
}

.invoerveldTypeBar {
    border: none;
    background: none;
    width: 100%;
    margin: 0 10px 0 10px;
}

.invoerveldKnop {
    width: 90px;
    height: 30px;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    background-color: rgb(79, 70, 229);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 10pt;
}

.invoerveldKnop:hover {
    background-color: rgb(67, 56, 202);
}